{% extends 'booking_app/base.html' %}
{% load time_filters %}
{% load static %}

{% block title %}<title>TravelVerse - Payment Success</title>{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/hotels_payment_success.css' %}">
{% endblock %}


{% block content %}
<div class="flight-success-container">

    <!-- TOP HEADER -->
    <div class="top-header">
        <h2>Booking Confirmed!</h2>
        <p>Your booking has been successfully confirmed</p>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <div class="row">
            <span>Booking Reference</span>
            <strong>{{booking.booking_reference}}</strong>
        </div>

        <div class="row">
            <span>Booking Date</span>
            <strong>{{booking.booking_date|date:"F j, Y - h:i A"}}</strong>
        </div>

        <hr>

        <h3>Booking Details</h3>

        <!-- Flight -->
        <div class="detail">
            <div class="icon"><img src="{% static 'images/hotel_icon.png' %}"></div>
            <div>
                <p class="title"> {{ booking.hotel.title }} </p>
                <p class="sub">{{ booking.hotel.category }}</p>
            </div>
        </div>

        <!-- Date -->
        <div class="detail">
            <div class="icon"><img src="{% static 'images/calendar.png' %}"></div>
            <div>
                <p class="title">Check In : {{ booking.check_in }} </p>
                <p class="title">Check out : {{booking.check_out}} </p>
            </div>
        </div>

        <!-- Seats -->
        <div class="detail">
            <div class="icon">
                <img src="{% static 'images/economy.png' %}">
            </div>
            <div>
                <p class="title"> {{ booking.total_room }} Rooms</p>
                
            </div>
        </div>

        <!-- Route -->
        <div class="detail">
            <div class="icon"><img src="{% static 'images/location_black.png' %}"></div>
            <div>
                <p >{{ booking.hotel.address }}, {{ booking.hotel.city.name }}</p>
            </div>
        </div>

    

        

        <hr>

        <!-- TOTAL -->
        <div class="total">
            <span>Total Amount Paid</span>
            <strong>₹{{booking.total_amount}}</strong>
        </div>

        <!-- BUTTON -->
        <div class="actions">
            <a class="download-btn">Download Ticket</a>
        </div>

        <div class="actions">
            <a href="{% url "hotel_booking:hotels_display" %}" class="search-flight-btn">Search Hotels</a>
        </div>

        <p class="footer-text">
            A confirmation email has been sent to your registered email address
        </p>

    </div>

    

</div>

<p class="return-link"><a href="{% url 'booking_app:index_page' %}">Return Home</a></p>

{% endblock %}


{% block script %}

{% endblock %}